In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df_jun_19 = pd.read_csv("resources/JC-201906-citibike-tripdata.csv")
df_jun_20 = pd.read_csv("resources/JC-202006-citibike-tripdata.csv")
df_jun_21 = pd.read_csv("resources/JC-202106-citibike-tripdata.csv")
df_jun_22 = pd.read_csv("resources/JC-202206-citibike-tripdata.csv")

In [3]:
df_jun_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39430 entries, 0 to 39429
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             39430 non-null  int64
 1   starttime                39430 non-null  object
 2   stoptime                 39430 non-null  object
 3   start station id         39430 non-null  int64
 4   start station name       39430 non-null  object
 5   start station latitude   39430 non-null  float64
 6   start station longitude  39430 non-null  float64
 7   end station id           39430 non-null  int64
 8   end station name         39430 non-null  object
 9   end station latitude     39430 non-null  float64
 10  end station longitude    39430 non-null  float64
 11  bikeid                   39430 non-null  int64
 12  usertype                 39430 non-null  object
 13  birth year               39430 non-null  int64
 14  gender                   39430 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 4.5+ MB

In [4]:
df_jun_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71442 entries, 0 to 71441
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             71442 non-null  object
 1   rideable_type       71442 non-null  object
 2   started_at          71442 non-null  object
 3   ended_at            71442 non-null  object
 4   start_station_name  71442 non-null  object
 5   start_station_id    71442 non-null  object
 6   end_station_name    71208 non-null  object
 7   end_station_id      71208 non-null  object
 8   start_lat           71442 non-null  float64
 9   start_lng           71442 non-null  float64
 10  end_lat             71261 non-null  float64
 11  end_lng             71261 non-null  float64
 12  member_casual       71442 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.1+ MB

In [6]:
df_jun_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103299 entries, 0 to 103298
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             103299 non-null  object
 1   rideable_type       103299 non-null  object
 2   started_at          103299 non-null  object
 3   ended_at            103299 non-null  object
 4   start_station_name  103299 non-null  object
 5   start_station_id    103299 non-null  object
 6   end_station_name    102985 non-null  object
 7   end_station_id      102985 non-null  object
 8   start_lat           103299 non-null  float64
 9   start_lng           103299 non-null  float64
 10  end_lat             103004 non-null  float64
 11  end_lng             103004 non-null  float64
 12  member_casual       103299 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.2+ MB

In [7]:
df_jun_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36921 entries, 0 to 36920
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             36921 non-null  int64
 1   starttime                36921 non-null  object
 2   stoptime                 36921 non-null  object
 3   start station id         36921 non-null  int64
 4   start station name       36921 non-null  object
 5   start station latitude   36921 non-null  float64
 6   start station longitude  36921 non-null  float64
 7   end station id           36921 non-null  int64
 8   end station name         36921 non-null  object
 9   end station latitude     36921 non-null  float64
 10  end station longitude    36921 non-null  float64
 11  bikeid                   36921 non-null  int64
 12  usertype                 36921 non-null  object
 13  birth year               36921 non-null  int64
 14  gender                   36921 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 4.2+ MB

In [10]:
df_jun_19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [11]:
df_jun_22.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')