In [1]:
# import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

## import and explore data

In [2]:
# reading data
df_jun_19 = pd.read_csv("resources/JC-201906-citibike-tripdata.csv")
df_jun_20 = pd.read_csv("resources/JC-202006-citibike-tripdata.csv")
df_jun_21 = pd.read_csv("resources/JC-202106-citibike-tripdata.csv")
df_jun_22 = pd.read_csv("resources/JC-202206-citibike-tripdata.csv")

In [3]:
df_jun_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39430 entries, 0 to 39429
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             39430 non-null  int64
 1   starttime                39430 non-null  object
 2   stoptime                 39430 non-null  object
 3   start station id         39430 non-null  int64
 4   start station name       39430 non-null  object
 5   start station latitude   39430 non-null  float64
 6   start station longitude  39430 non-null  float64
 7   end station id           39430 non-null  int64
 8   end station name         39430 non-null  object
 9   end station latitude     39430 non-null  float64
 10  end station longitude    39430 non-null  float64
 11  bikeid                   39430 non-null  int64
 12  usertype                 39430 non-null  object
 13  birth year               39430 non-null  int64
 14  gender                   39430 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 4.5+ MB

In [4]:
df_jun_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71442 entries, 0 to 71441
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             71442 non-null  object
 1   rideable_type       71442 non-null  object
 2   started_at          71442 non-null  object
 3   ended_at            71442 non-null  object
 4   start_station_name  71442 non-null  object
 5   start_station_id    71442 non-null  object
 6   end_station_name    71208 non-null  object
 7   end_station_id      71208 non-null  object
 8   start_lat           71442 non-null  float64
 9   start_lng           71442 non-null  float64
 10  end_lat             71261 non-null  float64
 11  end_lng             71261 non-null  float64
 12  member_casual       71442 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.1+ MB

In [7]:
df_jun_19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
df_jun_22.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [13]:
df_21_22=pd.concat([df_jun_21, df_jun_22], join="inner",ignore_index=True)

In [14]:
df_21_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174741 entries, 0 to 174740
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             174741 non-null  object
 1   rideable_type       174741 non-null  object
 2   started_at          174741 non-null  object
 3   ended_at            174741 non-null  object
 4   start_station_name  174741 non-null  object
 5   start_station_id    174741 non-null  object
 6   end_station_name    174193 non-null  object
 7   end_station_id      174193 non-null  object
 8   start_lat           174741 non-null  float64
 9   start_lng           174741 non-null  float64
 10  end_lat             174265 non-null  float64
 11  end_lng             174265 non-null  float64
 12  member_casual       174741 non-null  object
dtypes: float64(4), object(9)
memory usage: 17.3+ MB

In [15]:
df_19_20=pd.concat([df_jun_19, df_jun_20], join="inner",ignore_index=True)

In [17]:
df_19_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76351 entries, 0 to 76350
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             76351 non-null  int64
 1   starttime                76351 non-null  object
 2   stoptime                 76351 non-null  object
 3   start station id         76351 non-null  int64
 4   start station name       76351 non-null  object
 5   start station latitude   76351 non-null  float64
 6   start station longitude  76351 non-null  float64
 7   end station id           76351 non-null  int64
 8   end station name         76351 non-null  object
 9   end station latitude     76351 non-null  float64
 10  end station longitude    76351 non-null  float64
 11  bikeid                   76351 non-null  int64
 12  usertype                 76351 non-null  object
 13  birth year               76351 non-null  int64
 14  gender                   76351 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 8.7+ MB

In [18]:
df_19_20["usertype"].value_counts()

Subscriber    53486
Customer      22865
Name: usertype, dtype: int64

In [19]:
df_21_22["member_casual"].value_counts()

member    103372
casual     71369
Name: member_casual, dtype: int64

In [40]:
df1=df_19_20.copy()

In [22]:
df2=df_21_22.copy()

## Matching dataframes to make one clean dataframe

## 1- Change date and time formats

In [29]:
df1["tripduration"].values
# tripduration is calulated by secondes

array([ 316,  280, 2162, ..., 2788, 2702, 2649], dtype=int64)

In [30]:
# change time format and calculate trip duration for 21 and 22 years to match 19 20 data frame

df2["started_at"] = pd.to_datetime(df2["started_at"])
df2["ended_at"] = pd.to_datetime(df2["ended_at"])
df2["tripduration"] = (df2["ended_at"] - df2["started_at"]).dt.total_seconds()

# 
# df["starttime"] = pd.to_datetime(df["starttime"])
# df["stoptime"] = pd.to_datetime(df["stoptime"])

# 
#

In [46]:
df1["bikeid"].value_counts()

29453    160
29572    155
29618    145
29642    143
29203    142
        ...
29757      1
31263      1
21078      1
15892      1
37829      1
Name: bikeid, Length: 1194, dtype: int64

In [45]:
df2.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'usertype', 'tripduration'],
      dtype='object')

In [44]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [37]:
df2.rename(columns = {"member_casual":"usertype"}, inplace = True)
df2["usertype"] = df2["usertype"].replace(to_replace="member", value="Subscriber")
df2["usertype"] = df2["usertype"].replace(to_replace="casual", value="Customer")

In [43]:
df2['usertype'].value_counts()

Subscriber    103372
Customer       71369
Name: usertype, dtype: int64

In [50]:
# adding columns to 21-22 to match with 19-20 data and fill values with null
df2["birth year"]="N/A"
df2["gender"]="N/A"
df2["bikeid"] ="N/A"

In [54]:
# Match datafram 21-22 format and column names with 19-20 dataframe
df_21_22_clean = pd.DataFrame({
    'tripduration': df2['tripduration'],
    'starttime': df2['started_at'],
    'stoptime': df2['ended_at'],
    'start station id': df2['start_station_id'],
    'start station name': df2['start_station_name'],
    'start station latitude': df2['start_lat'],
    'start station longitude': df2['start_lng'],
    'end station id': df2['end_station_id'],
    'end station name': df2['end_station_name'],
    'end station latitude': df2['end_lat'],
    'end station longitude': df2['end_lng'],
    'bikeid': 'N/A',
    'usertype': df2['usertype'],
    'birth year': 'N/A',
    'gender': 'N/A',
    'rideable_type': df2['rideable_type']
    })

df

In [55]:
df_21_22_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideable_type
0,11443.0,2021-06-21 07:38:42,2021-06-21 10:49:25,JC076,Dixon Mills,40.721630,-74.049968,NaN,NaN,NaN,NaN,N/A,Subscriber,N/A,N/A,classic_bike
1,610.0,2021-06-12 10:25:01,2021-06-12 10:35:11,JC076,Dixon Mills,40.721630,-74.049967,JC103,Journal Square,40.733670,-74.062500,N/A,Subscriber,N/A,N/A,docked_bike
2,380.0,2021-06-07 14:52:05,2021-06-07 14:58:25,HB502,11 St & Washington St,40.749984,-74.027150,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,N/A,Subscriber,N/A,N/A,docked_bike
3,298.0,2021-06-07 08:29:19,2021-06-07 08:34:17,HB603,8 St & Washington St,40.745983,-74.028199,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,N/A,Customer,N/A,N/A,docked_bike
4,599.0,2021-06-18 14:16:27,2021-06-18 14:26:26,HB502,11 St & Washington St,40.749984,-74.027150,HB501,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,N/A,Subscriber,N/A,N/A,docked_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174736,1812.0,2022-06-17 16:03:36,2022-06-17 16:33:48,HB103,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,HB502,11 St & Washington St,40.749985,-74.027150,N/A,Customer,N/A,N/A,classic_bike
174737,314.0,2022-06-25 14:14:26,2022-06-25 14:19:40,HB103,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,HB603,8 St & Washington St,40.745984,-74.028199,N/A,Subscriber,N/A,N/A,classic_bike
174738,1109.0,2022-06-04 08:57:04,2022-06-04 09:15:33,JC027,Jersey & 6th St,40.725289,-74.045572,HB502,11 St & Washington St,40.749985,-74.027150,N/A,Customer,N/A,N/A,electric_bike
174739,632.0,2022-06-17 06:11:05,2022-06-17 06:21:37,HB103,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,HB502,11 St & Washington St,40.749985,-74.027150,N/A,Subscriber,N/A,N/A,classic_bike
174740,305.0,2022-06-02 18:15:17,2022-06-02 18:20:22,HB103,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,HB502,11 St & Washington St,40.749985,-74.027150,N/A,Subscriber,N/A,N/A,electric_bike

In [63]:
df_clean= pd.concat([df_21_22_clean, df_19_20], join="inner",ignore_index=True)

##

In [64]:
# change and split time to hours and month 
# Convert start/end times to datetime
df_clean['starttime'] = pd.to_datetime(df_clean['starttime'])
df_clean['stoptime'] = pd.to_datetime(df_clean['stoptime'])

In [65]:
df_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,11443.0,2021-06-21 07:38:42.000,2021-06-21 10:49:25.000,JC076,Dixon Mills,40.721630,-74.049968,NaN,NaN,NaN,NaN,N/A,Subscriber,N/A,N/A
1,610.0,2021-06-12 10:25:01.000,2021-06-12 10:35:11.000,JC076,Dixon Mills,40.721630,-74.049967,JC103,Journal Square,40.733670,-74.062500,N/A,Subscriber,N/A,N/A
2,380.0,2021-06-07 14:52:05.000,2021-06-07 14:58:25.000,HB502,11 St & Washington St,40.749984,-74.027150,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,N/A,Subscriber,N/A,N/A
3,298.0,2021-06-07 08:29:19.000,2021-06-07 08:34:17.000,HB603,8 St & Washington St,40.745983,-74.028199,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,N/A,Customer,N/A,N/A
4,599.0,2021-06-18 14:16:27.000,2021-06-18 14:26:26.000,HB502,11 St & Washington St,40.749984,-74.027150,HB501,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,N/A,Subscriber,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251087,2828.0,2020-06-30 23:53:19.738,2020-07-01 00:40:28.576,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
251088,2729.0,2020-06-30 23:54:44.010,2020-07-01 00:40:13.647,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
251089,2788.0,2020-06-30 23:54:52.192,2020-07-01 00:41:20.650,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
251090,2702.0,2020-06-30 23:56:14.665,2020-07-01 00:41:16.782,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
251091,2649.0,2020-06-30 23:57:46.149,2020-07-01 00:41:55.506,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2

In [ ]:
# export to csv file
cl