In [1]:
# import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

## import and explore data

In [13]:
# reading data
df_jun_19 = pd.read_csv("Resources/201906-citibike-tripdata.csv")
df_jun_20 = pd.read_csv("Resources/202006-citibike-tripdata.csv")

In [14]:
df_jun_21 = pd.read_csv("Resources/202106-citibike-tripdata.csv")

C:\Users\yaf_9\AppData\Local\Temp\ipykernel_37156\4171843422.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun_21 = pd.read_csv("Resources/202106-citibike-tripdata.csv")

In [15]:
df_jun_22 = pd.read_csv("Resources/202206-citbike-tripdata.csv")

C:\Users\yaf_9\AppData\Local\Temp\ipykernel_37156\2592829324.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun_22 = pd.read_csv("Resources/202206-citbike-tripdata.csv")

In [16]:
df_jun_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125370 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 243.2+ MB

In [17]:
df_jun_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3178081 entries, 0 to 3178080
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 315.2+ MB

In [18]:
df_jun_19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [19]:
df_jun_22.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [20]:
df_21_22=pd.concat([df_jun_21, df_jun_22], join="inner",ignore_index=True)

In [21]:
df_21_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6610964 entries, 0 to 6610963
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 655.7+ MB

In [22]:
df_19_20=pd.concat([df_jun_19, df_jun_20], join="inner",ignore_index=True)

In [23]:
df_19_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007643 entries, 0 to 4007642
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 458.6+ MB

In [24]:
df_19_20["usertype"].value_counts()

Subscriber    3059214
Customer       948429
Name: usertype, dtype: int64

In [25]:
df_21_22["member_casual"].value_counts()

member    4812371
casual    1798593
Name: member_casual, dtype: int64

In [26]:
df1=df_19_20.copy()

In [27]:
df2=df_21_22.copy()

## Matching dataframes to make one clean dataframe

## 1- Change date and time formats

In [28]:
df1["tripduration"].values
# tripduration is calulated by secondes

array([330, 830, 380, ..., 439, 890, 433], dtype=int64)

In [29]:
# change time format and calculate trip duration for 21 and 22 years to match 19 20 data frame

df2["started_at"] = pd.to_datetime(df2["started_at"])
df2["ended_at"] = pd.to_datetime(df2["ended_at"])
df2["tripduration"] = (df2["ended_at"] - df2["started_at"]).dt.total_seconds()

In [30]:
df1["bikeid"].value_counts()

34981    664
35152    645
34042    644
35151    642
35142    640
        ...
39918      1
39494      1
39718      1
17914      1
36991      1
Name: bikeid, Length: 19327, dtype: int64

In [31]:
df2.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'tripduration'],
      dtype='object')

In [32]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [33]:
df2.rename(columns = {"member_casual":"usertype"}, inplace = True)
df2["usertype"] = df2["usertype"].replace(to_replace="member", value="Subscriber")
df2["usertype"] = df2["usertype"].replace(to_replace="casual", value="Customer")

In [34]:
df2['usertype'].value_counts()

Subscriber    4812371
Customer      1798593
Name: usertype, dtype: int64

In [35]:
# adding columns to 21-22 to match with 19-20 data and fill values with null
df2["birth year"]="N/A"
df2["gender"]="N/A"
df2["bikeid"] ="N/A"
df1["rideable_type"]="N/A"

In [36]:
# Match datafram 21-22 format and column names with 19-20 dataframe
df_21_22_clean = pd.DataFrame({
    'tripduration': df2['tripduration'],
    'starttime': df2['started_at'],
    'stoptime': df2['ended_at'],
    'start station id': df2['start_station_id'],
    'start station name': df2['start_station_name'],
    'start station latitude': df2['start_lat'],
    'start station longitude': df2['start_lng'],
    'end station id': df2['end_station_id'],
    'end station name': df2['end_station_name'],
    'end station latitude': df2['end_lat'],
    'end station longitude': df2['end_lng'],
    'bikeid': 'N/A',
    'usertype': df2['usertype'],
    'birth year': 'N/A',
    'gender': 'N/A',
    'rideable_type': df2['rideable_type']
    })

df

In [37]:
df_21_22_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideable_type
0,132.0,2021-06-01 23:12:34,2021-06-01 23:14:46,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5442.05,Bayard St & Leonard St,40.719156,-73.948854,N/A,Subscriber,N/A,N/A,docked_bike
1,859.0,2021-06-16 17:14:56,2021-06-16 17:29:15,5175.08,Fulton St & Broadway,40.711066,-74.009447,5532.01,Mercer St & Spring St,40.723627,-73.999496,N/A,Customer,N/A,N/A,docked_bike
2,573.0,2021-06-07 19:41:55,2021-06-07 19:51:28,5259.06,Devoe St & Lorimer St,40.713352,-73.949103,5442.09,Manhattan Av & Leonard St,40.720840,-73.948440,N/A,Customer,N/A,N/A,docked_bike
3,1210.0,2021-06-17 15:13:15,2021-06-17 15:33:25,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5914.08,Greenwich Ave & Charles St,40.735238,-74.000271,N/A,Subscriber,N/A,N/A,electric_bike
4,1594.0,2021-06-18 08:27:03,2021-06-18 08:53:37,5291.05,Graham Ave & Conselyea St,40.715143,-73.944507,6206.08,E 30 St & Park Ave S,40.744449,-73.983035,N/A,Subscriber,N/A,N/A,electric_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6610959,762.0,2022-06-25 00:45:19,2022-06-25 00:58:01,4654.01,Norman St & Wyckoff Ave,40.695170,-73.903110,4526.01,Grove St & Broadway,40.690470,-73.923511,N/A,Customer,N/A,N/A,classic_bike
6610960,1475.0,2022-06-21 16:52:08,2022-06-21 17:16:43,4990.02,Railroad Ave & Kay Ave,40.705148,-73.970781,4526.01,Grove St & Broadway,40.690470,-73.923511,N/A,Subscriber,N/A,N/A,classic_bike
6610961,830.0,2022-06-29 17:58:20,2022-06-29 18:12:10,5250.05,Bushwick Ave & Powers St,40.712477,-73.941000,5204.05,S 4 St & Wythe Ave,40.712859,-73.965903,N/A,Subscriber,N/A,N/A,classic_bike
6610962,668.0,2022-06-16 19:31:34,2022-06-16 19:42:42,5250.05,Bushwick Ave & Powers St,40.712477,-73.941000,5204.05,S 4 St & Wythe Ave,40.712859,-73.965903,N/A,Subscriber,N/A,N/A,classic_bike
6610963,98.0,2022-06-16 12:15:02,2022-06-16 12:16:40,6779.04,Broadway & W 51 St,40.762288,-73.983362,6747.07,8 Ave & W 49 St,40.761712,-73.986551,N/A,Subscriber,N/A,N/A,classic_bike

In [38]:
df_clean= pd.concat([df_21_22_clean, df1], join="inner",ignore_index=True)

In [39]:
df_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideable_type
0,132.0,2021-06-01 23:12:34,2021-06-01 23:14:46,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5442.05,Bayard St & Leonard St,40.719156,-73.948854,N/A,Subscriber,N/A,N/A,docked_bike
1,859.0,2021-06-16 17:14:56,2021-06-16 17:29:15,5175.08,Fulton St & Broadway,40.711066,-74.009447,5532.01,Mercer St & Spring St,40.723627,-73.999496,N/A,Customer,N/A,N/A,docked_bike
2,573.0,2021-06-07 19:41:55,2021-06-07 19:51:28,5259.06,Devoe St & Lorimer St,40.713352,-73.949103,5442.09,Manhattan Av & Leonard St,40.720840,-73.948440,N/A,Customer,N/A,N/A,docked_bike
3,1210.0,2021-06-17 15:13:15,2021-06-17 15:33:25,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5914.08,Greenwich Ave & Charles St,40.735238,-74.000271,N/A,Subscriber,N/A,N/A,electric_bike
4,1594.0,2021-06-18 08:27:03,2021-06-18 08:53:37,5291.05,Graham Ave & Conselyea St,40.715143,-73.944507,6206.08,E 30 St & Park Ave S,40.744449,-73.983035,N/A,Subscriber,N/A,N/A,electric_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10618602,685.0,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2,N/A
10618603,446.0,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0,N/A
10618604,439.0,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1,N/A
10618605,890.0,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1,N/A
10618606,433.0,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1,N/A

##

In [40]:
# change and split time to hours and month 
# Convert start/end times to datetime
df_clean['starttime'] = pd.to_datetime(df_clean['starttime'])
df_clean['stoptime'] = pd.to_datetime(df_clean['stoptime'])

In [42]:
df_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideable_type
0,132.0,2021-06-01 23:12:34.000,2021-06-01 23:14:46.000,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5442.05,Bayard St & Leonard St,40.719156,-73.948854,N/A,Subscriber,N/A,N/A,docked_bike
1,859.0,2021-06-16 17:14:56.000,2021-06-16 17:29:15.000,5175.08,Fulton St & Broadway,40.711066,-74.009447,5532.01,Mercer St & Spring St,40.723627,-73.999496,N/A,Customer,N/A,N/A,docked_bike
2,573.0,2021-06-07 19:41:55.000,2021-06-07 19:51:28.000,5259.06,Devoe St & Lorimer St,40.713352,-73.949103,5442.09,Manhattan Av & Leonard St,40.720840,-73.948440,N/A,Customer,N/A,N/A,docked_bike
3,1210.0,2021-06-17 15:13:15.000,2021-06-17 15:33:25.000,5411.08,Driggs Ave & N 9 St,40.718169,-73.955201,5914.08,Greenwich Ave & Charles St,40.735238,-74.000271,N/A,Subscriber,N/A,N/A,electric_bike
4,1594.0,2021-06-18 08:27:03.000,2021-06-18 08:53:37.000,5291.05,Graham Ave & Conselyea St,40.715143,-73.944507,6206.08,E 30 St & Park Ave S,40.744449,-73.983035,N/A,Subscriber,N/A,N/A,electric_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10618602,685.0,2020-06-30 23:59:41.116,2020-07-01 00:11:06.779,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2,N/A
10618603,446.0,2020-06-30 23:59:46.426,2020-07-01 00:07:13.086,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0,N/A
10618604,439.0,2020-06-30 23:59:47.477,2020-07-01 00:07:06.559,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1,N/A
10618605,890.0,2020-06-30 23:59:53.395,2020-07-01 00:14:43.427,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1,N/A
10618606,433.0,2020-06-30 23:59:53.901,2020-07-01 00:07:07.095,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1,N/A

In [43]:
# export to csv file
df_clean.to_csv("resources/June_19_21_citibike_tripdata.csv")